//font-size
//@usage-@include font-size($size)
@mixin font-size($size) {
	font-size: ($size / $font-size-base) * 1em;
}

// Hovers
// @usage - `@include hover`
@mixin hover {
	&:hover,
	&:active,
	&:focus {
		@content;
	}
}

// before and after
// @usage - `@include pseudo`
@mixin pseudo($display: block, $pos: absolute, $content: '') {
	content: $content;
	display: $display;
	position: $pos;
}

// before and after
// @usage - `@include pseudo`
@mixin bottom-dotted {
	position: absolute;
	content: '';
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	border-bottom: 3px dotted $dotted-color;
}


// about screen size
$extra-large-screen: 1300px;

$large-screen: 1200px;

$medium-screen: 992px;

$tablet-screen: 768px;

$sm-medium-screen: 480px;

// responsive mixin

@mixin respond-to($media) {

	@if $media == min {
		@media only screen and (max-width: $sm-medium-screen - 1) {
			@content;
		}
	} @else if $media == xxs {
		@media only screen and (max-width: $tablet-screen - 1) {
			@content;
		}
	} @else if $media == xs {
		@media only screen and (min-width: $sm-medium-screen) and (max-width: $tablet-screen - 1) {
			@content;
		}
	} @else if $media == sm {
		@media only screen and (min-width: $tablet-screen) and (max-width: $medium-screen - 1) {
			@content;
		}
	} @else if $media == md {
		@media only screen and (min-width: $medium-screen) and (max-width: $large-screen - 1) {
			@content;
		}
	}

		/* not importent */
	@else if $media == lg {
		@media only screen and (min-width: $large-screen) {
			@content;
		}
	} @else if $media == xlg {
		@media only screen and (min-width: $extra-large-screen) {
			@content;
		}
	}

}
